.header {
    height: 90px;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.9);
    color: white;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "楷体";
    .inner {
        width: 80%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 20px;
        .left {
            height: 100%;
            line-height: 60px;
        }
        .left:hover {
            cursor: pointer;
        }
        .right {
            display: flex;
            width: 300px;
            justify-content: space-between;
            height: 100%;
            li {
                height: 100%;
                line-height: 60px;
                text-align: center;
            }
            li:hover {
                cursor: pointer;
            }
        }
    }
}

.main {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;

    .writing {
        flex:1;
        background: chartreuse;
        height: 100%;
    }
    .personInformation {
        height: 100%;
        width: 400px;
        font-family: "楷体";
        // background: sandybrown;
        .personInformationInner {
            display: flex;
            margin: 50px auto;
            flex-direction: column;
            align-items: center;
            width: 80%;
            height: 500px;
            box-shadow: 0 0 10px 5px black;
            border-radius: 10px;
            .avatar {
                width: 80px;
                height: 80px;
                background: url("./images/avatar.jpg");
                border-radius: 50%;
                margin-top: 50px;
                background-size: cover;
            }
            .nickName {
                margin-top: 10px;
            }
            .email {
                margin-top: 10px;
            }
        }
    }
}

